/* Telegames CSS */
.teamSelectionBtnWrap {
	text-align: center;
}
.teamSelectionBtnGroup {
	margin: 0 auto;
	text-align: center;
	width: inherit;
	display: inline-block;
}
.optionSelectionBtnWrap {

}
.optionSelectionBtnGroup{

}
.statsView{

}