/* Telegames CSS */
.teamSelection {
	text-align: center;
}
.teamSelectionBtnGroup {
	margin: 0 auto;
	text-align: center;
	width: inherit;
	display: inline-block;
}
.moveSelection {

}
.moveSelectionBtnGroup{
	display: block;
	margin: 0 auto;
	width: 100%;
}
.statsView{

}