{% extends "::base.html.twig" %}

{% block title %}Telegame: Teletext Emulator{% endblock %}

{% block body %}
<link href='http://fonts.googleapis.com/css?family=Cousine:400,700' rel='stylesheet' type='text/css'>
<style>
    html, body, .page { height: 100%; }
    body { margin: 0; }
    .page { background: #080808;  }
    .page .teletext { padding-left: 30px; background: black; font-size: 28px; line-height: 1em; color: white; font-family: Cousine, monospace; white-space: pre; letter-spacing: 0.25em; width: 32em; margin: auto; }
</style>

<div class="page">
    <!-- ContentStart -->
    <div class="teletext">{{ text }}</div>
    <!-- ContentEnd -->
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

    var debug = false;
    if (location.href.indexOf('debug=1') !== -1) {
        debug = true;
    }
    var debugTime = Math.floor(new Date().getTime() / 1000);
    var newDebugTime = debugTime;

    // Ugly and awful hack to refresh the page without blinking
    function refreshPage() {
        $.get(location.href, function(d) {
            var pos = d.indexOf('<!-- ContentStart -->');
            d = d.substr(pos + 22);
            pos = d.indexOf('<!-- ContentEnd -->');
            d = d.substr(0, pos);
            $('.page').html($.trim(d));
            newDebugTime = Math.floor(new Date().getTime() / 1000);
            if (debug) { console.log((newDebugTime - debugTime) + ' inserted'); }
            debugTime = newDebugTime;


            setTimeout(function() {
                refreshPage();
            }, 3000);

        });
    }

    setTimeout(function() {
        refreshPage();
    }, 3000);


</script>
{% endblock %}
