{% extends "::base.html.twig" %}

{% block title %}HackathonGameBundle:Statistics:selectedOptions{% endblock %}

{% block body %}
<h1>Welcome to the Statistics:selectedOptions page</h1>
{% endblock %}
